/* Global styles */
body {
	background-color: rgb(204, 204, 204);
}

/* Styling for the player section */
.player {
	width: 100%;
	border-radius: 10px;
}

/* Styling for the playlist container */
.Playlist {
	border: 1px solid black;
	border-radius: 10px;
	padding: 15px;
	margin: 15px;
	background-color: rgb(255, 255, 255);
}

/* Center-align headings */
h1, h2 {
	text-align: center;
}

/* Styling for links */
a {
	text-decoration-line: none;
}

/* Styling for the first player */
.player_one {
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	margin: 10px;
	border: 1px solid black;
	padding: 15px;
}

/* Styling for the second player */
.player_two {
	background-color: rgb(255, 255, 255);
	width: 100%;
}

/* Styling for audio elements */
audio {
	width: 100%;
}
